<a href="https://colab.research.google.com/github/shovitraj/GCloud/blob/main/Google_Vision_Piecewise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook extracts text from this [link](https://dataquest.io/wp-content/uploads/2019/01/data-science-resume-template-1.jpg) . In addition, screenshots of each section has been cropped to extract texts.

In [ ]:
!pip install --upgrade google-cloud-vision

In [30]:
from google.colab import files
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))

Saving resume_education.png to resume_education.png
Saving resume_experience.png to resume_experience.png
Saving resume_extras.png to resume_extras.png
Saving resume_head.png to resume_head.png
Saving resume_projects.png to resume_projects.png
Saving resume_skills.png to resume_skills.png
User uploaded file "resume_education.png" with length 33618 bytes
User uploaded file "resume_experience.png" with length 134960 bytes
User uploaded file "resume_extras.png" with length 216228 bytes
User uploaded file "resume_head.png" with length 102118 bytes
User uploaded file "resume_projects.png" with length 205516 bytes
User uploaded file "resume_skills.png" with length 53048 bytes

In [3]:
import os, io
# Imports Credential File:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "avid-atrium-296502-9e6921103dfe.json"
print("Service Account Key: {}".format(os.environ["GOOGLE_APPLICATION_CREDENTIALS"]))

Service Account Key: avid-atrium-296502-9e6921103dfe.json

In [15]:

from google.cloud import vision
from google.cloud.vision_v1 import types
import pandas as pd

In [16]:
def detect_text_uri(uri):
    
    # Imports the Google Cloud client library
    from google.cloud import vision
    #from google.cloud.vision import types
    
    client = vision.ImageAnnotatorClient()
    image = vision.Image()
    image.source.image_uri = uri

    response = client.text_detection(image=image)
    texts = response.text_annotations
    
    df = pd.DataFrame(columns=['locale','description'])
    for text in texts:
        df = df.append(
            dict(
                locale=text.locale,
                description = text.description
            ),
            ignore_index=True
        )
    return df

In [19]:
resume_url = "https://www.dataquest.io/wp-content/uploads/2019/01/data-science-resume-template-1.jpg"

In [20]:
resume_url

'https://www.dataquest.io/wp-content/uploads/2019/01/data-science-resume-template-1.jpg'

In [22]:
resumetext=detect_text_uri(resume_url)

In [59]:
resumetext.head(20)

   locale                                        description
0      en  City, State (you do not need\nyour full addres...
1                                                      City,
2                                                      State
3                                                       (you
4                                                         do
5                                                        not
6                                                       need
7                                                       your
8                                                       full
9                                                    address
10                                                     here)
11                                                     (123)
12                                                  456-7890
13                                                        no
14                                         reply@example.com
15                                                      Your
16                                                      Name
17                                                 Headline:
18                                                      Your
19                                                  headline

In [60]:
resumetext.shape

(403, 2)

In [43]:
def detectText(image_filename):
  FOLDER_PATH='/content'
  from google.cloud import vision
  import pandas as pd
  with io.open(os.path.join(FOLDER_PATH, image_filename), 'rb') as image_file:
        content = image_file.read()

  client = vision.ImageAnnotatorClient()
  image = vision.Image(content=content)
  response = client.text_detection(image=image)
  texts = response.text_annotations

  df = pd.DataFrame(columns=['locale', 'description'])
  for text in texts:
    df = df.append(
      dict(
          locale=text.locale,
          description=text.description
      ),
      ignore_index=True
  )
  
  return df

In [47]:
education=detectText('resume_education.png')

In [57]:
education.head()

  locale                                        description
0     en  EDUCATION (optional)\nSchool Name, Degree obta...
1                                                 EDUCATION
2                                                (optional)
3                                                    School
4                                                     Name,

In [58]:
education.shape

(9, 2)

In [38]:
# def extract_text(Filename):
#   FOLDER_PATH='/content'
#   return print(detectText(os.path.join(FOLDER_PATH, Filename)))

In [54]:
experience = detectText('resume_experience.png')

In [55]:
experience.head()

  locale                                        description
0     en  EXPERIENCE (most recent job goes first)\nCompa...
1                                                EXPERIENCE
2                                                     (most
3                                                    recent
4                                                       job

In [56]:
experience.shape

(74, 2)

In [61]:
skills = detectText('resume_skills.png')

In [62]:
skills.head()

  locale                                        description
0     en  SKILLS\n• Python\n• Pandas\n• NumPy\n• Data Vi...
1                                                    SKILLS
2                                                         •
3                                                    Python
4                                                         •

In [63]:
skills.shape

(29, 2)

In [67]:
intro = detectText('resume_head.png')

In [68]:
intro.head()

  locale                                        description
0     en  City, State (you do not need\nyour full addres...
1                                                     City,
2                                                     State
3                                                      (you
4                                                        do

In [70]:
intro.shape

(45, 2)

In [71]:
extras = detectText('resume_extras.png')

In [72]:
extras.head()

  locale                                        description
0     en  EXTRAS\n(Awards/Certificates/Activities)\nData...
1                                                    EXTRAS
2                          (Awards/Certificates/Activities)
3                                                Dataquest,
4                                                      Data

In [73]:
extras.shape

(122, 2)

In [74]:
projects = detectText('resume_projects.png')

In [75]:
projects.head()

  locale                                        description
0     en  PROJECTS/PUBLICATIONS\nProject/Publication #1 ...
1                                     PROJECTS/PUBLICATIONS
2                                       Project/Publication
3                                                        #1
4                                                      (you

In [76]:
projects.shape

(134, 2)