<a href="https://colab.research.google.com/github/shovitraj/GCloud/blob/main/VisionAPI_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# !pip install --upgrade google-cloud-vision
#!pip freeze

In [8]:
from google.colab import files
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))

Saving avid-atrium-296502-9e6921103dfe.json to avid-atrium-296502-9e6921103dfe (1).json
User uploaded file "avid-atrium-296502-9e6921103dfe.json" with length 2343 bytes

In [10]:
import os, io
# Imports Credential File:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "avid-atrium-296502-9e6921103dfe.json"
print("Service Account Key: {}".format(os.environ["GOOGLE_APPLICATION_CREDENTIALS"]))

Service Account Key: avid-atrium-296502-9e6921103dfe.json

In [29]:

from google.cloud import vision
from google.cloud.vision_v1 import types
import pandas as pd

In [14]:
client = vision.ImageAnnotatorClient()

In [19]:
FILE_NAME='Rebate.jpg'
FOLDER_PATH='/content'

In [20]:
with io.open(os.path.join(FOLDER_PATH, FILE_NAME), 'rb') as image_file:
        content = image_file.read()

In [21]:
image = vision.Image(content=content)

In [ ]:
 response = client.text_detection(image=image)
 print(response)

In [ ]:
response = client.text_detection(image=image)
texts = response.text_annotations
texts

In [33]:
df = pd.DataFrame(columns=['locale', 'description'])
for text in texts:
  df = df.append(
      dict(
          locale=text.locale,
          description=text.description
      ),
      ignore_index=True
  )

In [34]:
df

    locale                                        description
0       en  Additional\n50% Rebate\nSoCalGas A Sempra Ener...
1                                                  Additional
2                                                         50%
3                                                      Rebate
4                                                    SoCalGas
..     ...                                                ...
177                                                        of
178                                                     goods
179                                                  selected
180                                                        by
181                                                 customer.

[182 rows x 2 columns]

In [35]:
df.head()

  locale                                        description
0     en  Additional\n50% Rebate\nSoCalGas A Sempra Ener...
1                                                Additional
2                                                       50%
3                                                    Rebate
4                                                  SoCalGas

In [36]:
df[5:10]

  locale description
5                  A
6             Sempra
7             Energy
8               tity
9                Oct

In [41]:
print(df['description'][0])

Additional
50% Rebate
SoCalGas A Sempra Energy tity
Oct 1- Dec 31, 2020
NATURAL GAS OVEN
REBATE
Effective October 1- December 31, 2020
$100 OFF
A $100 rebate is available for the following energy-efficient residential
freestanding natural gas ovens. Must be replacing an existing natural
gas oven. Limit one per household. Eligible models include*
Samsung (Model# NX58H5600SS)
Whirlpool (Model# WFG515SOJS)
• LG (Model# LRG3194ST)
*Visit SoCalGas.com/rebates for a list of qualifying models.
Apply now using the new and easy
to use mobile web-based rebate
application. It can be accessed at
socalgas.com/rebateapp or by
scanning the QR Code.
This program Is funded by California utility customers and administered by SoCalGas under the auspices of the California Public Utilities Commission. Program funds are allocated on a first-come, first-served
basis until such funds are no longer available. This program may be modified or terminated without prior notice. The selection, purchase, and ownership of goods are the sole responsibility of customer.
SoCalGas makes no warranty, whether express or implied, Including the warranty of merchantability or fitness for a particular purpose, of goods selected by customer.

In [42]:
def detectText(img):
  with io.open(img, 'rb') as image_file:
        content = image_file.read()

  image = vision.Image(content=content)
  response = client.text_detection(image=image)
  texts = response.text_annotations

  df = pd.DataFrame(columns=['locale', 'description'])
  for text in texts:
    df = df.append(
      dict(
          locale=text.locale,
          description=text.description
      ),
      ignore_index=True
  )
  
  return df

In [43]:
FILE_NAME='Rebate.jpg'
FOLDER_PATH='/content'

In [44]:
print(detectText(os.path.join(FOLDER_PATH, FILE_NAME)))

    locale                                        description
0       en  Additional\n50% Rebate\nSoCalGas A Sempra Ener...
1                                                  Additional
2                                                         50%
3                                                      Rebate
4                                                    SoCalGas
..     ...                                                ...
177                                                        of
178                                                     goods
179                                                  selected
180                                                        by
181                                                 customer.

[182 rows x 2 columns]

In [45]:
text1 = detectText(os.path.join(FOLDER_PATH, FILE_NAME))

In [46]:
text1.head()

  locale                                        description
0     en  Additional\n50% Rebate\nSoCalGas A Sempra Ener...
1                                                Additional
2                                                       50%
3                                                    Rebate
4                                                  SoCalGas

In [47]:
text1[7:15]

   locale description
7              Energy
8                tity
9                 Oct
10                 1-
11                Dec
12                31,
13               2020
14            NATURAL

In [82]:

def detect_text_uri(uri):
    
    # Imports the Google Cloud client library
    from google.cloud import vision
    #from google.cloud.vision import types
    
    client = vision.ImageAnnotatorClient()
    image = vision.Image()
    image.source.image_uri = uri

    response = client.text_detection(image=image)
    texts = response.text_annotations
    
    df = pd.DataFrame(columns=['locale','description'])
    for text in texts:
        df = df.append(
            dict(
                locale=text.locale,
                description = text.description
            ),
            ignore_index=True
        )
    return df

In [88]:
text2 =detect_text_uri("https://s3.amazonaws.com/production-wordpress-assets/blog/wp-content/uploads/2016/11/29074529/500-internal-server-error.png")

In [89]:
text2.head()

  locale                                        description
0     en  Google\n500. That's an error.\nThere was an er...
1                                                    Google
2                                                      500.
3                                                    That's
4                                                        an

In [84]:
url1='https://storage.googleapis.com/gweb-uniblog-publish-prod/images/1_9i1yHAa.max-1000x1000.jpg'

In [90]:
text3 =detect_text_uri(url1)

In [91]:
text3.head()

  locale                                        description
0     en  0 O Meng web\nMessages\nJake Leichtling\n8.00\...
1                                                         0
2                                                         O
3                                                      Meng
4                                                       web